.footer__wrapper {
    margin-top: 10%;
    width: 100%;
    height: 50vh;
    background-color: rgb(211, 183, 188);
    position: relative;
}

.footer__button {
    width: 80px;
    height: 4rem;
    background-color: inherit;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 5px solid transparent;
    font-size: 1.5rem;
    font-family: 'Great Vibes', cursive;
    cursor: pointer;
}

@media (min-width: 768px){
    .footer__wrapper
    {
        border-top-right-radius: 20%;
    }

}