.header__wrapper {
    width: 100vw;
    height: 50vh;
    background-color: rgb(211, 183, 188);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    overflow-y: visible;
}

.header__img {
    display: none;
}

.header__title {
    font-size: 3rem;
    color: black;
    font-family: 'Sacramento', cursive;
    margin: 0;
    animation: 10s scale ease-in infinite;

}

.header__motto {
    font-size: 1rem;
}

@keyframes scale {
    0% {
        transform: scale(.8)
    }

    10% {
        transform: scale(1)
    }

    100% {
        transform: scale(1)
    }
}


@media (max-width: 250px) {
    .header__title {
        font-size: 2rem;
    }
}

@media (min-width: 1250px) {
    .header__wrapper {
        height: 80vh;
        display: block;
        position: relative;
        border-bottom-left-radius: 20%;
    }

    .header__slider {
        position: absolute;
        left: 20%;
        display: flex;
        flex-direction: row;
        width: 40%;
        height: 80%;
        top: 10%;
        border: 2px solid rgb(255, 250, 250);
        overflow: hidden;
    }


    .header__img {
        width: 100%;
        display: flex;
        object-fit: cover;
        animation: slider 20s infinite;

    }

    .header__text {
        position: absolute;
        top: 40%;
        left: 55%;
        padding: 0;
        max-width: 100%;
    }

    .header__title {
        z-index:1;
        background-color: transparent;
        text-shadow: 2px 1px 2px black;
        font-size: 6rem;
        color: rgb(161, 139, 160);
    }

    .header__motto {
        font-size: 2rem;
    }


    @keyframes slider {
        0% {
            transform: translateX(0)
        }

        25% {
            transform: translateX(-100%)
        }

        50% {
            transform: translateX(-200%)
        }

        75% {
            transform: translateX(-300%)
        }

        100% {
            transform: translateX(-400%)
        }
    }
}