.treatments {
    z-index: 1;
}

.treatment__wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(53, 47, 47);
    margin: 0;
    z-index: 1;
    gap: 5rem;
}

.treatments__header {
    font-size: 3rem;
    font-family: 'Great Vibes', cursive;
    letter-spacing: 1.5px;
    padding: 8rem 0 3rem 0;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 1px black;
    background-color: rgb(211, 183, 188);
    animation: changeColor 5s ease infinite;
    margin: 0 0 10rem 0;
    z-index: 1;
}

.treatments__box {
    width: 100%;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.treatments__image--wrapper {
    background-color: rgb(211, 183, 188);
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.treatments__image {
    object-fit: cover;
    width: 100%;
    border-radius: inherit;
    transition: .5s ease-in-out;
    opacity: .5;
}

.treatments__image:hover {
    transform: translate(0, 0);
    opacity: 1;
}

.treatments__title {
    font-size: 2rem;
    color: white;
    text-shadow: 1px 1px 1px black;
    position: absolute;
    z-index: 1;
}


.treatments__text {
    font-family: font-family: 'Sacramento', cursive;
    width: 80%;
    height: auto;
    padding: .5rem 0;
    font-size: 1.5rem;
    text-align: justify;
    margin: 1rem auto;
    color: white;
    font-size: 1rem;
}

@keyframes changeColor {
    0% {
        color: white
    }

    50% {
        color: black;
        text-shadow: 2px 2px 1px rgb(206, 166, 166);
    }

    100% {
        color: white
    }
}



@media (min-width: 758px) {
    .treatments__box {
        width: 80%;
    }
}

@media (min-width: 1250px) {
    .treatments__box {
        flex-direction: row;
    }

    .treatments__text {
        width: 40%;
        padding: 1rem 5rem;
        margin: 0 auto;
        font-size: 1.5rem;

    }

    .treatments__image--wrapper {
        border-radius: 50px;
    }

    .treatments__image {
        max-height: 500px;
        transform: translate(-20px, -20px);
    }
}